#canvas {
    background-color: white;
    display: block;
    position: absolute;
}

.toolbar {
    position: absolute;
}

.loading {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
}
